


.btn {
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 2.25rem;
}

.btn__white {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: black;
}

.btn__orange {
    background-color: rgba(255, 99, 54, 1);
    color: white;
    border: none;
}

.btn__black {
    background-color: black;
    color: white;
}
