


.man {
    background-color: rgb(201, 232, 242);
}

.man__block {
    display: flex;
    justify-content: space-between;
    padding: 53px 0 105px 0;
}

.man__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.man__description {
    max-width: 920px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
}

.man__description > p {
    margin: 0;
}

.man__position {
    max-width: 370px;
    font-weight: 400;
    font-style: normal;
    font-size: 0.75rem;
    line-height: 25px;
}

.man__image {
    max-width: 740px;
    margin: 0 0 0 60px;
}

@media only screen and (max-width: 768px) {

    .man {
      background-color: rgb(201, 232, 242);
    }
  
    .man__block {
      display: flex;
      flex-direction: column;
      justify-content: scenter;
      align-items: center;
      padding: 30px 10px 30px 10px;
    }
  
    .man__content {
      align-items: center;
    }
  
    .man__description {
      text-align: center;
      max-width: 100%;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  
    .man__description > p {
      margin: 0;
    }
  
    .man__position {
      max-width: 320px;
      font-weight: 400;
      font-size: 0.5rem;
      line-height: 1rem;
      margin: 10px 0;
    }
  
  
    .revolut_link {
      max-width: 60px;
    }
  
    .man__image {
      max-width: 740px;
      padding: 0;
      order: -1;
      margin: 0 0 20px 0;
    }
  
  }

