


.pie {
    background-color: rgb(218, 188, 152);
}

.pie__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0;
}

.pie__picture {
    display: flex;
    align-items: center;
    flex: 0 1 66.666%;
    flex-wrap: wrap;
}

.pie__image__icon {
    max-width: 176px;
    padding-right: 67px;
}

.pie__title {
    max-width: 460px;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 50px;
    padding-left: 67px;
    padding-right: 124px;
}

.pie__achievements {
    max-width: 480px;
    display: flex;
    justify-content: space-between;
    flex: 0 1 auto;
    border-left: 1px solid black;
   padding: 20px 0;
}

.pie__achievements__icon {
    max-width: 150px;
    padding-left: 70px;
}



@media only screen and (max-width: 768px) {

    .pie {
        background-color: rgb(218, 188, 152);
    }
    
    .pie__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 10px;
    }
    
    .pie__picture {
        flex-direction: column;
        align-items: center;
        flex: 1 1 auto;
    }
    
    .pie__image__icon {
        max-width: 100%;
        padding: 0 0 10px 0;
    }
    
    .pie__title {
        max-width: 100%;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 2rem;
        text-align: center;
    }

    .pie__achievements {
        gap: 70px;
        margin-top: 20px;
        border-left: none;
        border-top: 1px solid black;
    }

    .pie__icon .pie__achievements__icon:first-child {
        padding-left: 0;
    }

    .pie__achievements__icon {
        max-height: 80px;
    }

}
