.boost {
  background-color: white;
  padding: 154px 0 0 0;
}

.boost__section__title {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
}

.boost__section {
  display: flex;
  justify-content: space-between;
  flex: 0 1 33.333%;
  margin: -10px;
}

.boost__items__content {
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
  justify-content: baseline;
  align-items: flex-start;
  padding: 10px;
}

.managers_icon {
  margin: 75px 0 49px 0;
}

.developers_icon {
  margin: 92px 0 67px 0;
}

.translators_icon {
  margin: 84px 0 58px 0;
}

.boost__items__content__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: black;
}

.boost__items__description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: black;
  margin: 34px 0 25px 0;
}

.boost__items__description__link {
  margin: 0 0 187px 0;
}

@media only screen and (max-width: 768px) {
  .boost {
    padding: 30px 10px 0 10px;
    text-align: center;
  }

  .boost__section__title {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .boost__section {
    justify-content: center;
    margin: 10px;
  }

  .boost__items__content {
    flex-basis: 600px;
    justify-content: center;
    align-items: center;
  }

  .managers_icon {
    margin: 0 0 20px 0;
  }

  .developers_icon {
    margin: 0 0 20px 0;
  }

  .translators_icon {
    margin: 0 0 20px 0;
  }

  .boost__items__content__title {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 100px 0 35px 0;
  }

  .boost__items__description {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1rem;
    margin: 30px 0 30px 0;
  }

  .boost__items__description__link {
    margin: -10px 0 30px 0;
  }
}

@media only screen and (max-width: 577px) {
  .boost__section {
    flex-wrap: wrap;
  }

}
