.cards {
  background-color: white;
}

.cards__section {
  display: flex;
  justify-content: space-between;
  flex: 0 1 50%;
}

.cards__items__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 40%;
  margin: 0 140px 0 0;
}

.cards__items__content__right {
  margin: 0 0 0 140px;
  max-width: 40%;
}

.cards__items__title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
}

.cards__items__description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  color: black;
  margin: 30px 0;
}

.cards_btn {
  text-decoration: none;
  font-weight: 600;
  margin: 0;
}

.square {
  display: flex;
  flex: 0 1 auto;
  width: 630px;
  height: 630px;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 246, 223);
  margin: 90px 0 160px 0;
}

.square__card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.square__card__project_app {
  max-width: 350px;
}

.square__card__icons_app {
  max-width: 419px;
}

.square__card__languages_app {
  max-width: 440px;
}
.square__card__json_app {
  max-width: 504px;
}

@media only screen and (max-width: 769px) {
  .cards__section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 10px 0 10px;
    padding-bottom: 30px;
  }

  .cards__items__content {
    align-items: center;
    max-width: 70%;
    margin: 0;
  }

  .cards__items__content__right {
    margin: 0;
    max-width: 70%;
  }

  .cards__items__title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  }

  .cards__items__description {
    line-height: 25px;
    margin: 20px 0;
  }

  .square {
    margin: 0;
  }

  .cards__items__content__control {
    order: 1;
  }

  .cards__items__content__shorten {
    order: 2;
  }

  .cards__items__content__ensure {
    order: 3;
  }

  .cards__items__content__less {
    order: 4;
  }

  .square__project {
    order: 5;
  }

  .square__icons_app {
    order: 6;
  }

  .square__languages_app {
    order: 7;
  }

  .square__json_app {
    order: 8;
  }

  .square__card__project_app {
    max-width: 80%;
  }

  .square__card__icons_app {
    max-width: 80%;
  }

  .square__card__languages_app {
    max-width: 80%;
  }
  .square__card__json_app {
    max-width: 80%;
  }
}

@media only screen and (max-width: 577px) {
  .square {
    max-width: 450px;
    max-height: 450px;
  }

  .square__card__project_app {
    max-width: 60%;
  }

  .square__card__icons_app {
    max-width: 60%;
  }

  .square__card__languages_app {
    max-width: 60%;
  }

  .square__card__json_app {
    max-width: 60%;
  }

  .cards__items__content {
    max-width: 80%;
  }

  .cards__items__content__right {
    max-width: 80%;
  }
}

@media only screen and (max-width: 376px) {
  .square {
    max-width: 280px;
    max-height: 280px;
  }

  .square__card__project_app {
    max-width: 60%;
  }

  .square__card__icons_app {
    max-width: 60%;
  }

  .square__card__languages_app {
    max-width: 60%;
  }

  .square__card__json_app {
    max-width: 60%;
  }

  .cards__items__content {
    max-width: 80%;
  }

  .cards__items__content__right {
    max-width: 80%;
  }
}
