.why {
  background-color: rgb(255, 156, 125);
}

.why_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0 160px 0;
  text-align: center;
}

.why__title {
  max-width: 800px;
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 75px;
}

.why__text {
  display: inline-block;
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  color: black;
  margin: 30px 0 55px 0;
}

.why__btn {
  width: 160px;
}

@media only screen and (max-width: 769px) {
  .why_block {
    padding: 30px 0 30px 0;
  }

  .why__title {
    max-width: 700px;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
  }

  .why__text {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin: 30px 0 30px 0;
  }
}

@media only screen and (max-width: 577px) {
  .why__btn {
    width: 90%;
  }
}
